@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 50px;
  background: #c0cccc;
  font-family: "Lobster", cursive;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #9a1837;
  text-decoration: none;
}

h1 {
  font-weight: bold;
}

.card {
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  align-items: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
}

.header {
  border-radius: 25px 25px 0 0;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  background: #071538;
  color: #d73e6d;
  overflow: auto;
  line-height: 1.7em;
}

.text {
  padding: 15px;
  text-align: center;
  align-items: center;
  font-size: x-large;
  color: #d73e6d;
}

/* Header navigation*/
.header nav h1 {
  float: left;
  padding: 20px;
  margin-bottom: 0px;
}

.header nav h1 a {
  color: #fff;
  text-decoration: none;
}
.header nav ul {
  float: right;
  list-style: none;
}

.header nav li {
  float: left;
}

.header nav ul li a {
  color: white;
  padding: 20px;
  display: block;
}

.header nav ul li a:hover {
  background: #fdf7f8;
  display: block;
  color: #d73e6d;
  font-weight: 700;
}

.spacing {
  padding: 10px;
  margin: 10px;
}

/* Card */

.border-radius {
  border-radius: 10px;
}

.photoDetails {
  margin: auto;
  flex-direction: column;
  align-self: stretch;
  display: flex;
  padding: 40px;
}

.photo {
  margin: auto;
  flex-direction: column;
  padding: 0px 10px;
  flex-basis: 45%;
  align-self: stretch;
}

.titre {
  flex-basis: 20%;
  font-weight: bold;
}

.content {
  flex-direction: column;
  flex: auto;
}

.vote {
  flex-basis: 15%;
}

.description {
  font-size: larger;
}

.btn {
  width: 180px;
  height: 30px;
  background: #c0cccc;
  border-radius: 5px;
  border: solid 0px;
}

.btn:hover {
  background: #d73e6d;
  color: #fff;
}

.next {
  flex-basis: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favori {
  display: flex;
  flex-direction: column;
}
